* {
    box-sizing: border-box;
}


h1 {
    text-decoration: none;
    font-size: 2.027rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h2 {
    text-decoration: none;
    font-size: 1.802rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h3 {
    text-decoration: none;
    font-size: 1.266rem;
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
}

#hero {
    max-height: 700px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;;
    
}

#hero img{
    width: 200px;
    
}

nav li {
    font-family: "Poppins" , sans-serif;
    list-style: none;
    font-size: 1.266rem;
    display: inline;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;

}
#quote {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#quote h2{
    margin-top: 30px;
}

#info {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    

}

#try {
    max-height: 1300px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#try div:nth-child(1) {
    width: 100%;
}

#try img {
    width: 200px;
}

footer{
    color: white;
    font-size: x-small;
    background-color: black;
}
